<header>
    <h1>Green Trade</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/catalogo">Ver Plantas</a>
        <a href="/cadastrarPlanta">Cadastrar Plantas</a>
        <a href="/minhasPlantas">Minhas Plantas</a>
        <a href="/logout">Sair</a>
    </nav>
</header>